<% include common/header.ejs %>
<% include common/upperPanel.ejs%>

<div class="center-item container">
    <h2 class="pizza-title"><span id="pizza-title">Усі піци</span><span class="orange-circle" id="counter">8</span></h2>
    <div class="all-types-wrap">
        <ul class="nav nav-pills">
            <li role="presentation" id="filter-all" class="active"><a href="#">Усі</a></li>
            <li role="presentation" id="filter-meat" ><a href="#">М'ясні</a></li>
            <li role="presentation" id="filter-pineapple"><a href="#">З ананасами</a></li>
            <li role="presentation" id="filter-mushrooms"><a href="#">З грибами</a></li>
            <li role="presentation" id="filter-vega"><a href="#">Вега</a></li>
            <li role="presentation" id="filter-fish"><a href="#">Морські</a></li>
        </ul>
    </div>
    <div class="row" id="pizza_list">
    </div>

    <div class="lower-badge">
        Цього тижня на все -20%!
        <img src="assets/images/discount.svg" class="badge-end">
    </div>
</div>

<% include common/rightPanel.ejs%>
<% include common/footer.ejs %>