<div class="right-panel" id="full_cart">
    <div class="right-panel-center">
        <div id="cart"></div>
        <h4 class="dop-text">Простіше подзвонити, аніж готувати!</h4>
    </div>

    <div class="right-panel-upper">
            <span class="order">Замовлення <span class="orange-circle">0</span>
                <button class="order-btn btn btn-default">Очистити замовлення</button></span>
    </div>

    <div class="right-panel-bottom">
        <div class="sum-of-the-order">
            Сума замовлення <span class="sum">0</span>
        </div>
        <button type="button" class="btn-order btn btn-lg btn-warning" disabled>Замовити</button>
    </div>
</div>