<div class="upper-panel">
    <div class="upper-badge">
        PIZZA KMA
        <img src="assets/images/discount.svg" class="badge-end-up">
    </div>
    <div class="upper-panel-upper-row">
        8 800 555 35 35
        <span class="upper-row-text visible-md-inline visible-lg-inline">Безкоштовна доставка 24/7</span>
        <button class="btn btn-warning button-upper" data-toggle="button" type="button" aria-pressed="true">
            Ввійти
        </button>
    </div>
    <div class="upper-panel-lower-row">
        Піца
    </div>
</div>
<div class="lower-badge">
    Цього тижня на все -20%!
    <img src="assets/images/discount.svg" class="badge-end">
</div>